   h1{
            color: midnightblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 200%;

        }
        body{
            background-color: cadetblue;
        }
        .one{
            border-color: black; background-color: teal; border-radius: 3px;
            border: 2px solid;
            margin: 0;
        }
        #two{
            background-color: teal;
            margin: 0px;
            border-radius: 3px;
            border: 2px solid;
        }
        .put{
            background-color: aquamarine;
        }
        input{
            background-color: aquamarine;
        }
        textarea{
            background-color: lightseagreen;
            color: black;
        }
        #submit{
            background-color: darkturquoise;
        }